@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(47, 47, 47);
    color: white;
}

p{
    line-height: 1.6rem;
}

.swiper-button-next:after,
.swiper-button-prev:after{
    color: #006eff;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background: #006eff !important
}